# OS files
.DS_Store
Thumbs.db

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# VS Code
.vscode/

# Logs
*.log

# Environment files
.env

# Power BI temp files
*.pbix.autosave

# Ignore all data files (important for large datasets)
data/*.csv
data/*.xlsx

# Keep folder structure (optional)
!data/.gitkeep